#assets/
#protected/runtime/
#protected/config/
#themes/classic/views/
#nbproject/

*
/*
!themes/
!css/

/*
!/protected
/protected/*
!/protected/components/
!/protected/extensions/
!/protected/models/
!/protected/controllers/
!/protected/views/

!/themes
/themes/*
!/themes/bootstrap/

index.php
index-test.php
/protected/yiic.php
/protected/.htaccess